<p id="notice"><%= notice %></p>

<h1>職種詳細</h1>

<p>
  <strong>職種名:</strong>
  <%= @syokusyu.syokusyumei %>
</p>

<%= link_to '職種情報更新', edit_syokusyu_path(@syokusyu) %> |
<%= link_to '職種一覧', syokusyus_path %>
