<p id="notice"><%= notice %></p>

<p>
  <strong>Syokusyumei:</strong>
  <%= @syokusyu.syokusyumei %>
</p>

<%= link_to 'Edit', edit_syokusyu_path(@syokusyu) %> |
<%= link_to 'Back', syokusyus_path %>
