<p>Find me in app/views/home/top.html.erb</p>
<h1> AME </h1>
<h4> アイコン</h4>
<tbody>
 <h2 class="keisen"> 成績一覧 </h2>
    <tr>
      <td> <h2 class="keisen2"> 就職/進路 </h2> </td>
    <td> <h2 class="keisen3">   質問 </h2>  </td>
</tr> 
</tbody>   
 