<p>Find me in app/views/home/top.html.erb</p>
<h1> AME </h1>
<h4 class='keisen'> アイコン</h4>
<tbody>
 <h2 class="keisen"><%= link_to ' 成績一覧  ', seisekis_path %></h2>
    <tr>
      <td> <h3 class="keisen2"> <a href = 'http://localhost:3000/senntakus/top/'> 就職/進学一覧</a></h3> </td>
    <td> <h2 class="keisen3">  <%= link_to '  質問', new_situmon_path %> </h2>  </td>
</tr> 
</tbody>   
 

