<h1> AME </h1>
<div class='keisen'>
  <h4> <%= link_to 'アイコン',edit_user_path(current_user.id) %> </h4>
  <div class= keisen_hentocount > <%= @hentocount %> </div>
</div>
<table>
  <% @situmons.each do |s| %>
    <% if s.kaitous.length >= 1 %>
      <td></td>
    <% else %>
      <th></th>
    <% end %>
  <% end %>
</table>    

<br>
<h3 class="keisen"><%= link_to ' 成績一覧  ', teacher? ? seisekis_path : seiseki_path(@seiseki.id) %></h3>
<td> <h3 class="keisen2"> <a href = 'http://localhost:3000/senntakus/top/'> 就職/進学一覧</a></h3> </td>
<td> <h3 class="keisen3">  <%= link_to '  質問', new_situmon_path %> </h3>  </td>
  
 

