<p id="notice"><%= notice %></p>

<h1>質問</h1>

<br>


<body>
  <p>カテゴリ
    <form action="1"method="post">
      <input type="radio" name="進学" value="就職">就職
      <input type="radio" name="1" value="進学">進学
  <br>
      <input type="radio" name="勉強方法" value="勉強方法">勉強方法
      <input type="radio" name="2" value="企業・学校"> 企業・学校
  </p>
</body>





<br>

<%= link_to 'New Situmon', new_situmon_path %>
