<h1>質問</h1>

<%= render 'form', situmon: @situmon %>
<a href = 'http://localhost:3000'> 戻る</a>


<h1>質問一覧</h1>
<%= render 'list1', situmon: @situmon_singaku %>

<%= render 'list2', situmon: @situmon_syuusyoku %>
